header{
    text-justify: auto;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-right: 40%;
    padding-left: 40%;
    padding: auto;
    font-size: xx-large;
    text-decoration-line: underline;
}

body{
    padding: 0;;
    margin: 0;
    background-color: peru;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    color: brown;
}
#listaFilmes{
    color: gainsboro;
    font-size: larger;
}

#backInfoFilme{
    padding-right: 50%;
    padding-left: 3%;
}

#backLista{
    background-color:  chocolate;
    width: min-content;
}
