html,
body {
    padding: 0;
    margin: 0;
    background-color: peru;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    margin: 0;
}

header {
    /* margin-top: -20px; */
    align-items: center;
    text-align: center;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 15vh;
    width: 100%;
    /* padding-right: 40%;
    padding-left: 40%; */
    padding: auto;
    font-size: xx-large;
    text-decoration-line: underline;
}

h1 {
    color: brown;
}

#filmeperonsagem {
    text-transform: uppercase;
    align-items: center;
    text-align: center;
}

#listaFilmes {
    color: gainsboro;
    font-size: larger;
    display: flex;
    text-align: left;
    margin-top: -20%;
}

#backInfoFilme {
    padding-left: 2%;
    padding-right: 1%;
}

#backLista {
    background-color: chocolate;
    width: max-content;
    border-top-right-radius: 15px;
    /* margin-top: -20px; */
}


.ListaWiki {
    margin-top: 20px;
    background-color: aliceblue;
    border-style: double;
}

#border {
    padding-right: 15%;
    padding-left: 10%;
}

#divimgF{
    align-items: center;    
    display: flex;
    height: 200px;
    width: 200px;
}

img{
    height: 100%;

}